<!-- Navbar -->
<%- partial('_partial/navbar') %>

<!-- head section -->
<div class="row" id="head_post">
    <div class="col-md-11 col-md-offset-1" id="post_title">
        <h1><strong><%- page.title %></strong></h1>
        <p><%= date(page.date, config.date_format) %></p>
    </div>
</div><!-- / head section -->
<div class='row'>
    <div class="col-sm-12 col-md-7 col-md-offset-1" id="post_wrapper">
       <%- page.content %>
    </div>

    <div class="col-md-3" id="recent_posts">
    	<% if (site.posts.length){ %>
    	    <h4><strong>Recent Posts</strong></h4>
    	    <ul class="sidebar-module-list">
    	      <% site.posts.sort('date', -1).limit(5).each(function(post){ %>
    	        <li>
    	          <a href="<%- url_for(post.path) %>"><%= post.title || '(no title)' %></a>
    	        </li>
    	      <% }) %>
    	    </ul>
    	<% } %>
    </div>
</div>

<!-- Footer -->
<%- partial('_partial/footer') %>